{% load staticfiles %}

<div class="span3 img-desc" onmouseover="mouseOn(event, this, 0)" onmouseout="mouseOut(event, this, 0)">
    <p class="text-center">
        {% ifequal site.logo '' %}
            <p class="img img-well img-polaroid img-hover animated tada" style="background-color: #4EB3B9">
                <a class="a_replace_img" href="{{ site.url }}" target="_blank" onclick="visit(this, '{% url 'resources:visit' %}', '{{ site.pk }}');">
                    {{ site.name }}
                </a>
            </p>
        {% else %}
            <a href="{{ site.url }}" target="_blank" onclick="visit(this, '{% url 'resources:visit' %}', '{{ site.pk }}');">
                <img src="" data-src="{{ site.logo }}" class="img img-well img-polaroid img-hover animated tada" style="background-color: #4EB3B9" title="{{ site.slogan|default:'' }}">
            </a>
        {% endifequal %}
        <div class="cite">
            {% if request.mobile %}
                <div class="span12" onclick="discuss('{% url 'resources:discuss' site.pk %}')"><i id="{{ site.pk }}" class="icon-fullscreen icon-white"></i></div>
            {% else %}
                <div class="span3" onclick="discuss('{% url 'resources:discuss' site.pk %}')"><i id="{{ site.pk }}" class="icon-fullscreen icon-white"></i></div>

                {% if site.ffav %}
                    <div class="span3"><i id="{{ site.pk }}" class="icon-bookmark"></i><span>{{ site.fav }}</span></div>
                {% else %}
                    <div class="span3"><i id="{{ site.pk }}" class="icon-bookmark icon-white"></i><span>{{ site.fav }}</span></div>
                {% endif %}

                <div class="span3" onclick="discuss('{% url 'resources:discuss' site.pk %}')"><i id="{{ site.pk }}" class="icon-eye-open icon-white"></i><span>{{ site.visit }}</span></div>

                {% if site.flike %}
                    <div class="span3"><i id="{{ site.pk }}" class="icon-thumbs-up"></i><span>{{ site.like }}</span></div>
                {% else %}
                    <div class="span3"><i id="{{ site.pk }}" class="icon-thumbs-up icon-white"></i><span>{{ site.like }}</span></div>
                {% endif %}
            {% endif %}
        </div>
    </p>
</div>