{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% block title %}
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="互联网那些事儿 简历 求职 内推 面试 Offer 交流 学习">
        <meta name="description" content="thingsforinternet - 互联网那些事儿。">

        <link rel="icon" type="image/png" href="">

        <!-- Le styles -->
        <link href="{% static 'css/new_home2.css' %}" rel="stylesheet">

        {% block hcss %}
        {% endblock %}

        <script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
        {% block hscript %}
        {% endblock %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script>
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "//hm.baidu.com/hm.js?044d61176ff63a93f8b90cc6fbd47de4";
              var s = document.getElementsByTagName("script")[0];
              s.parentNode.insertBefore(hm, s);
            })();
        </script>
    </head>

    <body>
        <table id="hp_table">
            <tbody>
                <tr>
                    <td id="hp_cellCenter" style="padding-top: 0px;">
                        <div class="wrap">
                            <div class="container">
                                <div class="header">
                                    <ul class="left">
                                        <li><a href="{% url 'resources:itgpshome' %}" target="_blank">网站导航</a></li>
                                        <li><a href="{% url 'resources:apihome' %}" target="_blank">API 收集</a></li>
                                        <li><a href="{% url 'exchange:tipshome' %}" target="_blank">知识便签</a></li>
                                        <li><a href="{% url 'exchange:bloghome' %}" target="_blank">博客</a></li>
                                        <li><a href="{% url 'lab:lab' %}" target="_blank">实验室</a></li>
                                        <li><a href="{% url 'resume:resume2home' %}" target="_blank">简历中心</a></li>
                                    </ul>
                                    <ul class="right">
                                        {% if usr %}
                                            <li><a href="{% url 'accounts:member' %}">{{ usr }}</a></li>
                                            <li><a href="{% url 'accounts:logout' %}">退出</a></li>
                                            <li><a href="{% url 'accounts:settings' %}">设置</a></li>
                                        {% else %}
                                            <li><a href="{% url 'accounts:login' %}">登录</a></li>
                                        {% endif %}
                                    </ul>
                                </div>

                                <div class="bgdiv">
                                    <img id="tt4it-bg" src="">
                                    <div class="content">
                                        <center>
                                            <div class="logo">
                                                <img src="../../static/img/tt4it-logo.png">
                                            </div>
                                            <div class="new_home_search">
                                                <select name="tt4it_dropdown" id="tt4it_dropdown" class="egg_imagedropdown">
                                                    <option>../../static/img/tt4it-google.png</option>
                                                    <option>../../static/img/tt4it-baidu.png</option>
                                                    <option>../../static/img/tt4it-tt.png</option>
                                                </select>
                                                <input id="new_home_searchbox" class="new_home_searchbox"><!-- <button id="new_home_searchbutton" class="new_home_searchbutton">搜索</button> -->
                                                <div id="tt4it-magnifier" class="tt4it-magnifier"></div>
                                                <!-- <div class="new_home_search_radio">
                                                    <ul>
                                                        <li><input type="radio" name="search_type" value="google" checked><label>Google</label></li>
                                                        <li><input type="radio" name="search_type" value="baidu" class="search_type"><label>百度</label></li>
                                                        <li><input type="radio" name="search_type" value="tt4it" class="search_type"><label>本站</label></li>
                                                    </ul>
                                                </div> -->
                                            </div>
                                            <div class="mask-layer">
                                                <div class="mask-left">
                                                    <a href="http://tt4it.com/resources/itgps/home" target="_blank">
                                                        <span class="my-tt">我的TT</span><img class="my-tt-dropdown" src="../../static/img/tt4it-dropdown-circle.png">
                                                        <p class="my-tt-intro">程序员使用的导航网站</p>
                                                    </a>
                                                </div>
                                                <div class="mask-center">
                                                    <a id="tt4it-bg-info-url" href="" target="_blank">
                                                        <span class="pic-story">今日图片故事</span>
                                                        <p id="tt4it-bg-info" class="pic-story-intro"></p>
                                                    </a>
                                                </div>
                                                <div class="mask-right">
                                                    <span id="hms" class="hms"></span>
                                                    <p id="ymd" class="ymd"></p>
                                                </div>
                                            </div>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{% static 'js/pam.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/egg.js' %}" type="text/javascript"></script>
        <script>
            {% if display_bg %}
                _bg(1, 0, 10000);
            {% endif %}

            var _tt4it_bg = null,
                _tt4it_time = null;

            function delay() {
                var bgImg = $("#_bgImg"),
                    aInfo = $("#aInfo");
                if(bgImg.length) {
                    $("#tt4it-bg")[0].src = bgImg[0].src;
                    if(aInfo.length) {
                        $("#tt4it-bg-info-url")[0].href = aInfo[0].href;
                        $("#tt4it-bg-info")[0].innerHTML = aInfo[0].text;
                    }
                    window.clearInterval(_tt4it_bg);
                }
            }

            function tt4it_bg() {
                _tt4it_bg = window.setInterval("delay()", 1000);
            }

            String.prototype.format= function(){
               var args = arguments;
               return this.replace(/\{(\d+)\}/g,function(s,i){
                 return args[i];
               });
            }

            function hms(){
                var d = new Date();
                var hours = d.getHours();
                var minutes = d.getMinutes();
                var seconds = d.getSeconds();
                $("#hms")[0].innerHTML = "{0}:{1}:{2}".format(hours, minutes, seconds);
            }

            function ymd(){
                var d = new Date();
                var year = d.getFullYear();// 获取4位的年份
                var month = d.getMonth();// 从0-11
                var day = d.getDate();
                $("#ymd")[0].innerHTML = "{0}/{1}/{2}".format(year, month, day);
            }

            function tt4it_time() {
                ymd()
                _tt4it_time = setInterval(hms, 1000); // 1秒钟执行一次t方法。
            }

            function tt4it_search() {
                var qw = $("#new_home_searchbox").val(),
                    s_type = $(".egg_imagedropdown_header>img")[0].src;
                if(s_type.indexOf("google") >= 0) {
                    window.open("https://www.google.com/search?q=" + qw);
                } else if(s_type.indexOf("baidu") >= 0){
                    window.open("http://www.baidu.com/s?wd=" + qw);
                } else {

                }
            }

            jQuery(document).ready(function() {
                tt4it_bg();

                tt4it_time();

                $('#tt4it_dropdown').EggImageDropdown(
                    {
                        border: false
                    }
                );

                $( "#tt4it-magnifier" ).click(function() {
                    tt4it_search()
                });

                $("#new_home_searchbox").keydown(function(e) {
                    if ((e.which === 13) || (e.ctrlKey || e.metaKey) && e.which === 13) {
                        e.preventDefault();
                        tt4it_search();
                    }
                });
            });
        </script>
        {% block script %}{% endblock %}
    </body>
</html>