Django==1.6.4
MySQL-python==1.2.5
Pillow==2.9.0
Pygments==1.6
South==1.0.1
django-markdown-deux==1.0.5
django-mobi==0.1.7
ipdb==0.8.1
ipython==4.0.0
marrow.mailer==4.0.1
markdown2==2.2.2
pep8==1.6.2
pytz==2015.6
qiniu==7.0.1
requests==2.5.3
shortuuid==0.4.2
xpinyin==0.5.1
