{% extends "huntjob/question/base_question.html" %}
{% load staticfiles %}
{% load djangomarkdown %}

{% block title %}
    <title>我的面试题 (Mine Questions) -- 面试题 (Questions) -- ThingsForInternet</title>
{% endblock %}

{% block befcon %}
    <div class="scrolltitlestyle">
        <h2 class="red">查看</h2>
    </div>

    <div class="row-fluid">
        <div class="span9">
            <div class="list-hero-unit">{{ question.question|djangomarkdown }}</div>
            <br>
            <div class="list-hero-unit">{{ question.answer|djangomarkdown }}</div>
        </div>
        <div class="span3"><div class="list-hero-unit">{% include 'resume/resume2/snippets/userinfo.html' %}</div></div>
    </div>
    <br>

    <div class="list-hero-unit text-center">
        {% if question.tag|length == 1 and question.tag|first == '' %}
        {% else %}
            <div>{% for t in question.tag %}<a class="tag">{{ t }}</a>{% endfor %}</div>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="discuss-hero-unit" style="padding-bottom: 10px;">
        <!-- UY BEGIN -->
        <div id="uyan_frame"></div>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1902715"></script>
        <!-- UY END -->
    </div>
{% endblock %}

{% block aftcon %}{% endblock %}

{% block bodyer2 %}{% endblock %}

{% block script %}{% endblock %}
