{% extends "resume/resume2/base_resume2.html" %}
{% load staticfiles %}
{% load djangomarkdown %}

{% block title %}
    <title>全部简历 (All Resume) -- 简历 (Resume) -- ThingsForInternet</title>
{% endblock %}

{% block bodyer %}{% endblock %}

{% block content2 %}
    <div class="scrolltitlestyle">
        <h2 class="red">全部简历</h2>
    </div>

    <div class="block-hero-unit">
        <div class="row-fluid">
            {% for res in resume %}
                {% include 'resume/resume2/snippets/resume2_cite.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}{% endblock %}
