{% extends "resume/resume2/base_resume2.html" %}
{% load staticfiles %}
{% load djangomarkdown %}
{% load markdown_deux_tags %}

{% block title %}
    <title>我的简历 (Mine Resume) -- 简历 (Resume) -- ThingsForInternet</title>
{% endblock %}

{% block befcon %}
    <div class="scrolltitlestyle">
        <h2 class="red">查看</h2>
    </div>

    <div class="control-group" style="visibility:hidden; display:none"><textarea id="editor_resume">{{ resume.resume|default_if_none:""|safe }}</textarea></div>
    <div class="row-fluid">
        <div class="span9"><div class="list-hero-unit">{{ resume.resume|djangomarkdown }}</div></div>
        <div class="span3"><div class="list-hero-unit">{% include 'resume/resume2/snippets/userinfo.html' %}</div></div>
    </div>
    <br>

    <div class="list-hero-unit text-center">
        <div><a href="{{ resume.pdf }}" target="_blank">{{ resume.pdf }}</a></div>
        <div>{% for t in resume.tag %}<a class="tag">{{ t }}</a>{% endfor %}</div>
    </div>
{% endblock %}

{% block content %}
{% endblock %}

{% block aftcon %}{% endblock %}

{% block bodyer2 %}{% endblock %}

{% block script %}{% endblock %}
